
.form-text{
    text-align: center;
}

.container span{
    color: #ff0000;
}

.container{
    margin-top: 0em;
}

.btn-primary{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 20em;
    border-width: 6px;
}

.site-footer{
    margin-top: 0em;
}




html{
	height: 100%;
	margin: 0;
}

body{
	font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
	height: 100%;
	display: flex;
  	flex-direction: column;
}

/* Website Title */
.container{
	padding: 30px;
	position: relative;
	background: linear-gradient(45deg, #ffffff, #ffffff, #f9f9f9, #eeeeee, #e0e4e1, #d7e1ec);
	background-size: 500% 500%;
}

.container-heading{
    margin: 0;
}

.container span{
    color: #ff0000;
}

.description p{
    font-style: italic;
    font-size: 14px;
    margin: 3px 0 0;
}



.prediction{
    padding: 30px 0 0;
	flex: 1 0 auto;
}

.danger{
    color: #ff0000;
}

.safe{
    color: green;
}
