{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/academic.min.747d92dc45be93ba6055a623fe5bcc0a.css' %}">
  <link rel="stylesheet" href="{% static 'css/academic.min.2cb7ed0cd490345835ea66ca300b8a4f.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div class="container">

<footer class="site-footer">
  
  <div class="media author-card">

  <div class="media-body">
    <ul class="network-icon" aria-hidden="true">    
      <li>
        <a href="https://utkryuk.github.io" target="_blank" rel="noopener">
          <img src="{% static 'img/website_icon_26px.png' %}"></img>
        </a>
      </li>
  
        <li>
          <a href="https://github.com/utkryuk" target="_blank" rel="noopener">
            <img src="{% static 'img/github_icon_24px.png' %}"></img>
          </a>
        </li>
  
        <li>
          <a href="https://www.linkedin.com/in/utkarshgupta118/" target="_blank" rel="noopener">
            <img src="{% static 'img/linkedin_icon_26px.png' %}"></img>
          </a>
        </li>
      
    </ul>
  </div>
  </div>
  
    <p>
      Made with &hearts; by 
      <a href="http://github.com/utkryuk" target="_blank" rel="noopener">Utkarsh Gupta</a>.      
    </p>

  </footer>
</div>
