{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Web App</title>
  </head>

<div class="container">
    <h2 class='container-heading'><span>Spam Detector</span> for EMAIL</h2>
        <div class='description'>
      <p>A Machine Learning Web App, Built with <strong>Django</strong>, Deployed using <strong>Heroku</strong>.</p>
      </div>
  </div>
