{% load static %}
{% load widget_tweaks %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Web App</title>
  </head>

{% include 'header.html' %}
  
  <div>
    <form action="{% url 'result' %}" method="post" validate>
      {% csrf_token %}
      {% include 'bs4_form.html' with form=form %}
      <button type="submit" class="btn btn-primary">Predict</button>
    </form>
  </div>
  
{% include 'footer.html' %}